.button {
  font: inherit;
  border: 1px solid #4E4E4E;
  color: #4E4E4E;
  background: none;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: #ccc;
  color: #888888;
  cursor: not-allowed;
  border: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
  background: #ccc;
  color: #888888;
  border: #ccc;
}

.button:hover,
.button:active {
  background: #4E4E4E;
  color: white;
}

.button--flat {
  border: none;
}

.button--flat:hover,
.button--flat:active {
  background: #272727;
  color: #4E4E4E;
}

.button--raised {
  background: #4E4E4E;
  color: white;
  -webkit-box-shadow: 0 0.1px 0.2px #272727;
  box-shadow: 0 0.1px 0.2px #272727
}

.button--raised:hover,
.button--raised:active {
  background: #616161;
}

.button.button--accent {
  border-color: #272727;
  color: #272727;
}

.button--accent:hover,
.button--accent:active {
  background: #272727;
  color: #4E4E4E;
}

.button--flat.button--accent:hover,
.button--flat.button--accent:active {
  background: #2727271e59;
  color: #272727;
}

.button.button--accent.button--raised {
  background: #272727;
  color: #4E4E4E;
}

.button--raised.button--accent:hover,
.button--raised.button--accent:active {
  background: #;
}

.button.button--danger {
  border-color: #a30000;
  color: #a30000;
}

.button--danger:hover,
.button--danger:active {
  background: #a30000;
  color: white;
}

.button--flat.button--danger:hover,
.button--flat.button--danger:active {
  background: rgba(163, 0, 0, 0.3);
  color: #a30000;
}

.button.button--danger.button--raised {
  background: #a30000;
  color: white;
}

.button--raised.button--danger:hover,
.button--raised.button--danger:active {
  background: #c00000;
}

.button.button--success {
  border-color: #00b359;
  color: #00b359;
}

.button--success:hover,
.button--success:active {
  background: #00b359;
  color: white;
}

.button--flat.button--success:hover,
.button--flat.button--success:active {
  background: rgba(0, 179, 90, 0.3);
  color: #00b359;
}

.button.button--success.button--raised {
  background: #00b359;
  color: white;
}

.button--raised.button--success:hover,
.button--raised.button--success:active {
  background: #00a151;
}


.button--mobileToggle {
  width: 30%;
}

.button--small {
  width: 16%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

@media screen and (max-width: 767px) {
  .button--small {
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 411px) {
  .button--small {
    width: 25%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: .9rem;
  }
}