.posts {
    margin-left: 24%;
}

.post__status {
    width: 90%;
    margin: 1rem auto;
}

.post__status form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post__status form * {
    margin: 0 0.5rem;
}

.post__control {
    text-align: center;
}

.new-post__preview-image {
    width: 15rem;
    height: 7rem;
}


@media only screen and (max-width: 767px) {
    .posts {
        margin-left: 0;
        margin-top: 16rem;
    }
}

@media only screen and (max-width: 480px) {
    .posts {
        margin-top: 14rem;
    }

    .post__status {
        width: 30rem;
    }
}

@media only screen and (max-width: 411px) {
    .posts {
        margin-top: 14rem;
    }
}

@media only screen and (max-width: 384px) {
    .posts {
        margin-top: 16rem;
    }
}

@media only screen and (max-width: 360px) {
    .posts {
        margin-top: 16rem;
    }
}

@media only screen and (max-width: 320px) {
    .posts {
        margin-top: 16rem;
    }
}