.mainHeader {
    position: fixed;
    width: 24%;
    background-color: #F1F1F1;
    left: 0;
    top: 0;
    height: 100vh;
}

.content {
    margin-top: 0;
    float: right;
    background-color: #666;
    width: 76%;
    height: 200vh;
}


@media screen and (max-width: 767px) {
    .mainHeader {
        height: 28%;
        width: 100%;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .mainHeader {
        height: 25%;
    }
}

@media (max-width: 375px) {

    .mainHeader {
        height: 28%;
    }
}

@media (max-width: 320px) {

    .mainHeader {
        height: 30%;
    }
}

@media (max-width: 240px) {

    .mainHeader {
        height: 43%;
        width: 100%;
    }
}