.feed__status {
  width: 90%;
  margin: 1rem auto;
}

.feed__status form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feed__status form * {
  margin: 0 0.5rem;
}

.feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}

@media (min-width: 767px) {
  .feed__status {
    width: 30rem;
  }
}
